/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 640px;
  height: 480px;
  background: url('../images/background.jpg') no-repeat;
  background-size: contain;
  position: relative;
}

#messagebox {
  color: #fff;
  padding: 30px;
  width: 640px - 60px;
  height: 25%;
  line-height: 150%;
  @include background-image(linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65) 25%, rgba(0, 0, 0, 0.95)));
  position: absolute;
  bottom: 0;
  z-index: 101;
}

#name {
  margin-top: 30px;

  &:before {
    content: '【';
  }

  &:after {
    content: '】';
  }
}

@mixin filter-drop-shadow($args) {
  -webkit-filter: drop-shadow($args);
  -moz-filter: drop-shadow($args);
  -ms-filter: drop-shadow($args);
  -o-filter: drop-shadow($args);
  filter: drop-shadow($args);
}

.entity {
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  @include filter-drop-shadow(0 0 5px rgba(0,0,0,.5));
  z-index: 102;
}
