/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 640px;
  height: 480px;
  background: url('../images/background.jpg') no-repeat;
  background-size: contain;
  position: relative;
}

#talk {
  padding: 30px;
  width: 640px - 60px;
  height: 3em;
  color: #fff;
  @include background-image(linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.75)));
  position: absolute;
  bottom: 0;
}
